@using XOVO.Models
@model List<XOVO.Models.FeedItem>

@{
    ViewBag.Title = "XOVO";
}

@if ((Model == null) || (Model.Count == 0))
{
    <p>Es sind noch keine Beiträge vorhanden</p>
}
else
{
    <div>
        @foreach (FeedItem fi in Model)
        {
            @Html.Partial("FeedItem", fi)
        }
    </div>
}