@model XOVO.Models.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout_login_registration.cshtml";
}

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
<div class="card hoverable">
    <div class="card-content">
        <div>
        <span class="card-title">Login</span>
            <div class="input-field">
                <input type="text" id="UsernameOrEmail" name="UsernameOrEmail" />
                <label for="UsernameOrEmail">Benutzername</label>
            </div>
            <div class="input-field">
                <input type="password" id="pwd" name="Password"/>
                <label for="pwd">Passwort</label>
            </div>
            <p>Wenn sie noch kein Konto haben klicken Sie <a href="/user/registration">hier</a></p>
    </div>
    <div class="card-action">
        <button class="btn waves-effect waves-light" type="submit" name="action">
            Login
            <i class="material-icons right">send</i>
        </button>

    </div>
    </div>
</div>

}