body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
#searchResults2 {
    background-color: #666666;
}

#searchResults {
    background-color: #666666;
}

.right li a {
    padding-right: 2em;
    text-decoration: none
}

#profileImg{
    height: 3em !important;
    width: auto !important;
    margin-top: 10px;
}
nav{
    color: red;
}