body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/Content/img/background_login_registration.jpg")

}

main {
    flex: 1 0 auto;
}

#main_wrapper {
    height: 100vh;
}    
.navbar-fixed {position: absolute;z-index:999999999;} 
.container{
    margin-left: auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;
    width:25%;
    height: 30%;
    

}
.card{
    height: auto;
    width: auto;
}