@model XOVO.Models.FeedItem

<div class="card">
    <div>
        @Model.Name
    </div>
    <div class="card-image">
        <img src="/Content/img/background_login_registration.jpg">
    </div>
    <div class="card-content">
        <p>CONTENT of FeedItem</p>
    </div>
    <div class="card-action">
        <a href="#" class ="left">gefällt mir soon</a>
        <a href="#" class="center">kommentieren</a>
        <a href="#" class="right">teilen</a>

    </div>
</div>

