@model XOVO.Models.FeedItem

        <div class="card">

                <div class="card-image">
                    <img src="@Model.ImgPath">
                    <span class="card-title">@Model.UserForFeed</span>
                </div>
            
            <div class="card-content">
                <p>@Model.FeedContent</p>
            </div>
            <div class="card-action">
                <a href="/home/likefeed/@Model.Id"><i class="material-icons">thumb_up</i></a>
                <a href="#"><i class="material-icons">comment</i></a>
                <i>@Model.CreationDateTime</i>
                <a href="#" class="right"><i class="material-icons">share</i></a>
            </div>
        </div>
   