@model XOVO.Models.Message

@{
    ViewBag.Title = "XOVO";
    Layout = "~/Views/Shared/Layout_login_registration.cshtml";


}


@if (Model != null)
{
    <h4 style="color:white">@Model.Header</h4>
    if (Model.AdditionalHeader?.Trim() != "")
    {
        <h5 style="color:white">@Model.AdditionalHeader</h5>
    }
    <p style="color:white">
        @Model.MessageText
    </p>
    if (Model.Solution?.Trim() != "")
    {
        @Model.Solution
    }
    <div>
    <a class="waves-effect waves-light btn" href="/user/login"><i class="material-icons left">arrow_back</i>Zurück</a>
    </div>
}
else
{
    <p>
        Keine Meldung angegeben!
    </p>
}


