<div class="nav-wrapper indigo darken-4">
    <div class="container">
        <a href="#" class="brand-logo" style="padding-left: 30px; position: absolute">XOVOO</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#!">Mein Feed</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Profil<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="#!">Logout <i class="material-icons right">highlight_off</i></a></li>
        </ul>
        <form class=" center hide-on-med-and-down" style="padding-left: 300px; width: 700px;" id="form1">
            <div class="input-field" style="max-width: 400pt;">
                <input id="search" type="search">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
                <div id="searchResults"></div>
            </div>
        </form>
    </div>
</div>
